.search {
    background-color: transparent;
    border: 2px solid var(--primary--color);
    font-size: 18px;
    padding: 5px 0px 5px 15px;
    border-radius: 45px;
    color: #d3d3d3;
}

.search:focus {
    transition: 0.2s all ease;
    outline: none;
    background-color: var(--primary--color);
}

.search::placeholder {
    color: #7378c5;
}